:root {
    --purple: #6943FF;
    --pink: #DE45AB;
    --grey: #F4F4F4;
    --white: #ffffff;
    --black: #3D3D3D;
}


body {
    margin: 0;
    font-family: "Inter", serif;
}

#main-container {
    text-align: center;
}

/* Top Section Styles */

/* styling the top section of the page */
#top-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--purple);
    padding: 15px;
}

h1 {
    margin-top: 0;
    padding-top: 15px;
    color: var(--white);
    font-weight: 800;
    text-align: center;
}

/* styling the input field */
#number-to-convert {
    text-align: center;
    font-size: 30px;
    margin: 0 auto 10px auto;
    background-color: var(--purple);
    color: var(--white);
    font-style: bold;
    border: 1px solid var(--white);
    border-radius: 5px;
    min-width: 80px;
    max-width: 200px;
    align-content: center;
    font-weight: 800;
}

#number-to-convert:hover {
    background-color: var(--pink);
    transition: 0.5s;
    outline-color: var(--grey);
}

#number-to-convert:focus {
    background-color: var(--pink);
    transition: 0.5s;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px var(--grey);
}

/* remove arrows for WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* remove arrows for Mozilla browsers */
input[type=number]{
    -moz-appearance: textfield;
}

/* styling the convert button  */
#convert-btn {
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    font-weight: 400;
    padding: 10px 20px;
}

#convert-btn:hover {
    background-color: var(--pink);
    color: var(--white);
    transition: 0.5s;
}

#convert-btn:focus {
    background-color: var(--pink);
    color: var(--white);
    transition: 0.5s;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #F4F4F4;
}

/* Results Section Styles */

/* styling the results container */
#results-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    background: var(--grey);
    height: 100vh;
}

/* styling the individual results containers */
.results {
    margin: 10px 0;
    width: 80%;
    margin: 8px auto;
    border-radius: 4px;
    background: var(--white);
    text-align: center;
}

.results h2 {
    font-size: 16px; 
    font-weight: 600;
}

.results p {
    font-size: 14px;
    font-weight: 400;
}